body {
    margin: 0;
}
nav {
    position: fixed;
    width: 100%;
    background-color: #ddd;
}
nav li {
    list-style: none;
    display: inline;
}
section#welcome {
    min-height: 50vh;
    padding-top: 50vh;
    border: 1px solid #000;
}
section#welcome > h1 {
    text-align: center;
}
