body {
  margin: 0;
}
nav#navbar {
  position: fixed;
  width: 100%;
  background-color: #ddd;
}
nav#navbar li {
  list-style: none;
  display: inline;
}
section#welcome-section {
  min-height: 65vh;
  padding-top: 35vh;
  border: 1px solid #000;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.5em;
}
section#welcome-section > h1 {
  text-align: center;
}
.project-tile {
  display: inline-block;
  width: 225px;
  height: 175px;
  margin: 15px;
  overflow: hidden;
  border: 1px solid #000;
}
@media screen and (min-width: 900px) {
  .project-tile {
    margin: 25px;
  }
}
section#profiles {
  width: 100%;
  text-align: center;
  background-color: #aaa;
  padding-top: 15px;
  padding-bottom: 100px;
}
a.profile {
  display: inline-flex;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 3px solid #999;
  color: #fff;
  text-decoration: none;
}
a.profile:hover {
  color: #aaa;
  background-color: #fff;
  border-color: #fff;
}
a.profile > i {
  width: 100%;
  text-align: center;
}
footer {
  background-color: #aaa;
  padding-bottom: 50px;
}
footer > span {
  display: block;
  text-align: center;
}
