body {
  margin: 0;
  background-color: #999;
}
nav#navbar {
  position: fixed;
  width: 100%;
  background-color: #aaa;
}
nav#navbar li {
  list-style: none;
  display: inline;
}
nav#navbar a {
  color: #fff;
  text-decoration: none;
}
nav#navbar a:hover {
  text-decoration: underline;
}
section#welcome-section {
  min-height: 40vh;
  padding-top: 60vh;
  border: 1px solid #000;
  font-family: 'Abel', sans-serif;
  font-size: 1.5em;
  background-image: url('./images/bg-1024x768.jpg');
  background-repeat:no-repeat;
  background-position: center;
  color: #fff;
}
section#welcome-section > h1 {
  text-align: center;
  background-color: #99999980;
}
.project-tile {
  display: inline-block;
  width: 225px;
  height: 175px;
  margin: 15px;
  overflow: hidden;
  border: 1px solid #000;
}
@media screen and (min-width: 900px) {
  section#welcome-section {
    background-image: url('./images/bg-1920x1440.jpg');
  }
  .project-tile {
    margin: 25px;
  }
}
section#profiles {
  width: 100%;
  text-align: center;
  background-color: #aaa;
  padding-top: 15px;
  padding-bottom: 100px;
}
a.profile {
  display: inline-flex;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 3px solid #999;
  color: #fff;
  text-decoration: none;
}
a.profile:hover {
  color: #aaa;
  background-color: #fff;
  border-color: #fff;
}
a.profile > i {
  width: 100%;
  text-align: center;
}
footer {
  background-color: #aaa;
  padding-bottom: 50px;
}
footer > span {
  display: block;
  text-align: center;
}
